/* INICIO CSS para PORTFOLIO */
.letra-frase{
	color:gray;
}
.letra-h-porta{
	font-family: Arial;
	font-size: 30px;
}
.back-gray{
	background-color: #E6E6E6;
	height: 1650px;

}
.menu-porta{
	list-style: none;
	font-size: 20px;
}

.list-port{
	display: inline-block;
	padding: 1px;
}

li:hover a{
	background: #0DC0C0; /* 01A9DB*/
	color:white;
}

.color-porta{
	text-decoration: none;
	padding: 10px 15px;
	color:black;
	background: white;
}
.img-porta{
	width: 450px;
	height: 350px;
}
.box-porta{
	background: white;
	width: 480px;
	height: 410px;
	padding-top: 15px;
}
.pd-row-porta{
	padding-top: 2%;
}
.float-right{
	float: right;
}
.btn-porta{
	color:white;
	background-color: #2E2E2E;
	font-size: 16px;
	width: 120px;
	height: 40px;
	padding: 3px;
	font-weight: 2px;
	display: block;
	margin: 4% auto;
	cursor: pointer;
}
/*FIN para PORTFOLIO */
/*Inicio Pricig*/
.letra-price{
	font-family: Arial;
	font-size: 25px;
	color:white;
}
.back-price{
	background-image: url("../img/background/city.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	height: 400px;

}
.back-price2{
	background: rgba(0,0,0,0.5);
	background-size: cover;
	height: 400px;

}
.pd-row-price{
	padding-top: 6%;
}
.pd-row-price3{
	padding-top: 3%;
}
.pd-desc-price{
	padding: 6% 0%;
}
.btn-price{
	color:black;
	background: rgba(255,255,255,0.1);
	font-size: 20px;
	font-family: Arial;
	color:white;
	font-weight: bold;
	width: 140px;
	height: 50px;
	padding: 3px;
	font-weight: 100;
	display: block;
	margin: 4% auto;
	border: none;
	cursor: pointer;
}
.btn-font-price{
	color:white;
}
.btn-price:hover {
    background-color: white;
    color: #0DC0C0;
    opacity:0.5;
}
.box-price{
	background: white;
	width: 350px;
	height: 650px;
	padding: 3%;
	margin: 0 auto;
}
.box-titulo{
	background-color: #2E2E2E;
	color:white;
	font-weight: 15px;
	height: 120px;
	padding: 15%;
	font-family: Arial;
	font-size: 22px;
	margin: 0 auto;
	text-align: center;
}
.box-premium{
	background-color: #0DC0C0; /*Azul*/
	color:white;
	font-weight: 15px;
	height: 120px;
	padding: 15%;
	font-family: Arial;
	font-size: 22px;
	margin: 0 auto;
	text-align: center;
}
.box-precio{
	background-color: #E6E6E6;
	color:black;
	font-weight: 15;
	height: 140px;
	padding: 20% 4%;
	font-size:20px;
	text-align: center;
	margin: 0 auto;
}
.hr-precio{
	margin-top: 4%;
	margin-left: 4%;
	color:gray;
	opacity: 0.5;
	text-align: center;
}
.btn-pack{
	color:white;
	background-color: #2E2E2E;
	font-size: 16px;
	width: 120px;
	height: 40px;
	padding: 3px;
	font-weight: 2px;
	display: block;
	margin: 2% auto;
	cursor: pointer;
	border:none;
}
.back-pckg{
	background-color: #E6E6E6;
	height: 880px;
}
.pd-5{
	padding: 5%;
}
.pd-address{
	padding: 5% 1% 0%;
}
.pd-3{
	padding: 3%;
}
.img-cte{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}
/*FIN Pricig*/
/*Inicio Contacto*/
.letra-h-contact{
	font-family: Arial;
	font-size: 30px;
	color:white;
}
.letra-h3-contact{
	font-family: Arial;
	font-size: 25px;
	color:white;
}
.letra-h2-follow{
	font-family: Arial;
	font-size: 30px;
	color:black;
}
.back-contact{
	background-image: url("../img/background/contactus.jpg");
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	height: 500px;
}
.back-contact2{
	background:rgba(0,0,0,0.5);
	background-size: cover;
	height: 500px;
}
.pdt-2{
	padding-top: 2%;
}
.pdt-4{
	padding-top: 4%;
}
.pdb-3{
	padding-bottom: 3%;
}
.pdl-2{
	padding-left: 2%;
}
.pd-form{
	padding: 2% 15% 0%;
}
.letra-contact{
	font-family: Arial;
	font-size: 18px;
	color:white;
}
.letra-address{
	font-family: Arial;
	font-size: 15px;
	color:white;
}
.width-form{
	width: 400px;
	height: 40px;
	padding-left: 2%;
}
textarea{
	width: 400px;
	height: 150px;
	padding-left: 2%;
}
.btn-contact{
	color:white;
	background-color: #0DC0C0;/*azul*/
	font-size: 16px;
	width: 120px;
	height: 40px;
	padding: 3px;
	font-weight: 2px;
	margin-top: 2%;
	cursor: pointer;
	border:none;
}
.back-form{
	background: rgba(255,255,255,0.1);
	background-size: cover;
	height: 40px;
	border: none;
	font-weight: bold;
}
.back-area{
	background: rgba(255,255,255,0.1);
	background-size: cover;
	height: 150px;
	border: none;
	font-weight: bold;
}
.img-contact{
	font-size: 20px;
	color:white;
}
.img-redes{
	font-size: 40px;
	color:#2E2E2E;
	margin:1%;
}
.back-pie{
	background-color: #2E2E2E;
	background-size: cover;
	height: 80px;
	color:white;
	padding-top: 2%;
}
.sin-dec{
	text-decoration: none;
}